<?
	$bgcol = '#C00000';
	$fgcol = '#ffdddd';
?>

body {
	margin: 0;
	padding: 0;
}

body, td, th {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

h1 {
	margin-top: 0;
	color: <?php echo $bgcol; ?>;
}

#nav {
	background-color: <?php echo $bgcol; ?>;
	padding: 4px 10px;
	color: #fff;
	font-weight: bold;
	line-height: 24px;
}

#nav img {
	vertical-align: middle;
}

#nav a {
	text-decoration: none;
	color: #fff;
}

#nav a:hover, #error a:hover {
	text-decoration: underline;
}

#breadcrumbs {
	padding:1px;
	padding-left:8px;
	font-weight: bold;
	margin-top: 4px;
}


p {
	margin-top: 0;
	margin-bottom: 1em;
}

#body {
	padding: 2em;
}

div.bug {
	border: 1px solid <?php echo $bgcol; ?>;
	margin: 0px;
	padding: 0px;
}

div.bughead {
	text-align: right;
	padding: 6px;
	background-color: <?php echo $bgcol; ?>;
	color: #ffffff;
}

div.bughead a.button {
	background-color: #EEEEEE;
	border: 1px solid #000000;
	color: #000000;
	font-weight: bold;
	padding: 3px 6px;
}

div.bugdetails {
	background-color: #EEEEEE;
	padding: 3px;
	border-bottom: 1px solid <?php echo $bgcol; ?>;
}

div.bugitem {
	margin: 4px;
}

div.bugedit {
	margin: 20px;
	border: 1px solid <?php echo $bgcol; ?>;
	padding: 10px;
	background-color: #EEEEEE;
}

#attachlink {
	color: #999;
}

#filterlink {
	color: #999;
	font-size: 12px;
}

#filterform {
	display: none; 
	background-color: #AAA; 
	border: 1px solid black; 
	margin-bottom: 20px;
}

.edittbl td {
	padding: 0 10px 6px 0;
}

.buttontbl td {
	padding-top: 6px;
}

a.sekrit {
	color: #000;
	text-decoration: none;
}

a.sekrit:hover {
	color: blue;
	text-decoration: underline;
}

.statstable td {
	padding: 4px;
	font-size: 16px;
	background-color: #fff;
	text-align: right;
}

.listtable {
	border-collapse: collapse;
	border-spacing: 0px;
}

.listtable th {
	background-color: <?php echo $bgcol; ?>;
	color: #fff;
	border-right: 1px solid #fff;
	padding: 4px;
}

.listtable .h {
	background-color: <?php echo $bgcol; ?>;
	color: #fff;
	border-right: 1px solid #fff;
	padding: 4px;
	font-weight: bold;
	text-align: center;
}

.listtable .r {
	text-align: right;
}

.listtable td {
	padding: 4px;
}

.listtable .list1 {
	background-color: #fff;
}

.listtable .list2 {
	background-color: <?php echo $fgcol; ?>;
}

div.bugitem {
	margin: 4px;
}

div.bugitem .itemtitle {
	font-weight: bold;
}

div.bugitem .itemdate {
	color: #555555;
	font-size: 11px;
}

div.bugitemtext {
	font-size: 12px;
	margin: 4px 0 12px 20px;
}

a.status-open {
}

a.inline-status-open {
	background-color: blue;
	color: white;
	font-weight: bold;
}

a.status-resolved,
a.inline-status-resolved {
	background-color: green;
	color: white;
	font-weight: bold;
}

a.status-closed,
a.inline-status-closed {
	background-color: #999999;
	color: white;
	font-weight: bold;
}
